*,
*:before,
*:after {
   box-sizing: border-box;
}
body{
  background-color: blue;
  text-align: center;
}
img {
  width: 130px;
  height: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
}
a {
  color: white;
}
form {
  border: 1px solid #c6c7cc;
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}
fieldset {
  border: 0;
  margin: 0;
 padding: 0;

}
input {
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}
.account-info {
  padding: 40px 40px 0 40px;
}
.account-info label {
  text-align: left;
  color: black;
  display: block;
  font-weight: bold;
  margin-bottom: 20px;
}
.account-info input {
  background: #fff;
  border: 2px solid #c6c7cc;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  color: black;
  padding: 15px;
  margin-top: 6px;
  width: 320px;
}
.account-info .btn {
  background: green;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  float: left;
  padding: 15px 16px;
}
.account-info .pass {
  color: grey;
  float: left;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 90px;
}
.login label {
  color: white;
}